<h1>Dashboard - Members</h1>
<h2 style="padding-top:20px;">Status</h2>
<table style="width:100%">
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Password</th>
    <th>Control</th>
  </tr>
{{#each memberArr}}
  <tr id="one-member">
    <td id="user-id">{{id}}</td>
    <td id="username">{{username}}</td>
    <td id="password">{{password}}</td>
    <td>
      <button id="delete-btn" onclick="delete_user(this)" type="button" name="button">D</button>
      <button id="edit-btn" onclick="edit_user(this)" type="button" name="button">E</button>
    </td>
  </tr>
{{/each}}
</table>
<script type="text/javascript" src="js/request.js"></script>
<script type="text/javascript" src="js/members.js"></script>
