<h1>Dashboard - Posts</h1>
<h2 style="padding-top:20px;">Status</h2>
<table style="width:100%">
  <tr>
    <th>ID</th>
    <th>Member Id</th>
    <th>Content</th>
    <th>Control</th>
  </tr>
{{#each postsArr}}
  <tr>
    <td>{{id}}</td>
    <td>{{member_id}}</td>
    <td>{{contents}}</td>
    <td><button type="button" name="button">D</button> <button type="button" name="button">E</button></td>
  </tr>
{{/each}}
</table>
