<h1>Dashboard - Posts</h1>
<h2 style="padding-top:20px;">Status</h2>
<table style="width:100%">
  <tr>
    <th>ID</th>
    <th>Member Id</th>
    <th>Content</th>
    <th>Control</th>
  </tr>
{{#each postsArr}}
  <tr id="one-post">
    <td id="post-id">{{id}}</td>
    <td id="member-id">{{member_id}}</td>
    <td id="contents">{{contents}}</td>
    <td>
      <button id="delete-btn" onclick="delete-post" type="button" name="button">D</button>
      <button id="edit-btn" onclick="edit-post" type="button" name="button">E</button>
    </td>
  </tr>
{{/each}}
</table>
