<div id="nav">
  <ul>
    <li class="nav-sub">Navigation</li>
    <li class="nav-item active"><span class="dashboard">Dashboard</span>
    <li class="nav-item"><span>Members</span></li>
    <li class="nav-item"><span>Posts</span></li>
    <li class="nav-item"><span>Logout</span></li>
  </ul>
</div>
