<div id="nav">
  <ul>
    <li class="nav-sub">Navigation</li>
    <li class="nav-item"><span class="dashboard"><a class="nav-href" href="/dashboard">Dashboard</a></span></li>
    <li class="nav-item"><span><a class="nav-href" href="/members">Members</a></span></li>
    <li class="nav-item"><span><a class="nav-href" href="/posts">Posts</a></span></li>
    <li class="nav-item"><span><a class="nav-href" href="/logout">Logout</a></span></li>
  </ul>
</div>
