<div id="nav">
  <ul>
    <li class="nav-sub">Navigation</li>
    <li class="nav-item"><span class="dashboard"><a href="/dashboard">Dashboard</a></span></li>
    <li class="nav-item"><span><a href="/members">Members</a></span></li>
    <li class="nav-item"><span><a href="/posts">Posts</a></span></li>
    <li class="nav-item"><span><a href="/logout">Logout</a></span></li>
  </ul>
</div>
